*{
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
}

html,body{
  width:100%;
  height:100%;
  margin:0;
  font-family:system-ui, sans-serif;
  background:black;
  color:white;
}
button{
  font-size:16px;
}
