.camera-page{
  padding:0;
  overflow:hidden;
  background:black;
}

/* TOP BAR */
.top-bar{
  position:absolute;
  top:10px;
  left:0;
  right:0;
  display:flex;
  justify-content:space-between;
  padding:0 14px;
  z-index:10;
}

/* CAMERA FEED */
video{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* CONTROLS */
.camera-controls{
  position:absolute;
  bottom:30px;
  width:100%;
  display:flex;
  justify-content:center;
}

.capture-btn{
  width:72px;
  height:72px;
  border-radius:50%;
  border:6px solid white;
  background:rgba(255,255,255,.2);
}
.capture-btn:active{
  transform:scale(.92);
}
