.glass{
  background:rgba(0,0,0,0.35);
  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);
}


.title{
  font-size:34px;
  margin-bottom:10px;
}
.subtitle{
  opacity:.8;
  margin-bottom:40px;
}

.main-btn{
  width:80%;
  padding:14px;
  border-radius:30px;
  border:none;
  margin:10px 0;
  background:linear-gradient(135deg,#ff5fa2,#ff9ecf);
  color:white;
}
.main-btn.outline{
  background:transparent;
  border:2px solid rgba(255,255,255,.4);
}
.main-btn:active{
  transform:scale(.95);
}
