.video-app{
  display:flex;
  flex-direction:column;
  height:100%;
}

/* TOP BAR */
.topbar{
  height:56px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 14px;
  color:white;
}

/* GRID */
.video-grid{
  flex:1;
  overflow-y:auto;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:6px;
  padding:6px;
}

/* VIDEO THUMB */
.video-grid video{
  width:100%;
  aspect-ratio:16/9;
  object-fit:cover;
  border-radius:10px;
}

/* PLAYER */
.player{
  position:fixed;
  inset:0;
  background:black;
  display:none;
  flex-direction:column;
  z-index:999;
}

.player video{
  width:100%;
  height:100%;
  object-fit:contain;
}

/* BOTTOM BAR */
.player-bar{
  position:absolute;
  bottom:0;
  width:100%;
  height:70px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:rgba(0,0,0,.6);
}

.player-bar button{
  padding:10px 18px;
  border:none;
  border-radius:20px;
  background:#ff2e63;
  color:white;
}
