body{
  margin:0;
  font-family:sans-serif;
  background:#0f172a;
  color:white;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login{
  background:#111827;
  padding:30px;
  border-radius:12px;
}

.chat-app{
  height:100vh;
  display:flex;
  flex-direction:column;
}

.chat-header{
  padding:15px;
  background:#22c55e;
  text-align:center;
  font-weight:bold;
}

.chat-body{
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.msg{
  margin:6px 0;
  padding:10px;
  max-width:70%;
  border-radius:10px;
}

.me{
  background:#22c55e;
  align-self:flex-end;
}

.other{
  background:#1f2933;
}

.chat-input{
  display:flex;
  padding:10px;
  background:#020617;
}

.chat-input input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:20px;
}

.chat-input button{
  margin-left:10px;
  padding:10px 16px;
  border:none;
  border-radius:50%;
  background:#22c55e;
  color:black;
}
