*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

/* Moon */
.moon{
    position:absolute;
    top:80px;
    right:100px;
    width:120px;
    height:120px;
    border-radius:50%;
    background:#fff;
    box-shadow:
    0 0 30px #fff,
    0 0 60px #fff,
    0 0 100px #fff;
    animation:float 5s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
}

/* Stars */
.stars{
    position:absolute;
    width:100%;
    height:100%;
    background:
    radial-gradient(white 1px, transparent 1px);
    background-size:50px 50px;
    animation:twinkle 4s infinite alternate;
}

@keyframes twinkle{
    from{opacity:.5;}
    to{opacity:1;}
}

.container{
    text-align:center;
    z-index:10;
}

h1{
    color:white;
    font-size:4rem;
    margin-bottom:10px;
    text-shadow:0 0 20px white;
}

p{
    color:#ccc;
    margin-bottom:40px;
    letter-spacing:2px;
}

#startBtn{
    padding:18px 45px;
    font-size:1.2rem;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:white;
    color:black;
    font-weight:bold;
    transition:.4s;
    box-shadow:0 0 20px white;
}

#startBtn:hover{
    transform:scale(1.1);
    box-shadow:
    0 0 20px white,
    0 0 40px white,
    0 0 80px white;
}

@media(max-width:768px){

    h1{
        font-size:2.5rem;
    }

    .moon{
        width:90px;
        height:90px;
        right:30px;
        top:50px;
    }
}